<section>
  <div class="card">
    <div class="card-image">
      <figure class="image is-3by3">
        <img src="(( $ctrl.user.icon_link ))" alt="Placeholder image">
      </figure>
    </div>
    <div class="card-content">
      <div class="media">
        <!-- <div class="media-left">
          <figure class="image is-48x48">
            <img src="(( $ctrl.user.icon_link ))" alt="(( $ctrl.user.displayname ))">
          </figure>
        </div> -->
        <div class="media-content">
          <p class="title is-4">(( $ctrl.user.displayname ))</p>
          <p class="subtitle is-6">@(( $ctrl.user.username ))</p>
        </div>
      </div>
      <div class="content">
        <p><strong>Bio</strong>: (( $ctrl.user.bio || 'bio...' ))</p>
        <p><strong>Tags</strong>: (( $ctrl.user.tags ))</p>
        <p><strong>Subjects</strong>: (( $ctrl.user.subjects ))</p>
      </div>
    </div>
  </div>

  <br/>

  <div class="box" ng-if="$ctrl.you && $ctrl.user.id === $ctrl.you.id">
    <ul class="menu-list">
      <li><a ng-click="$ctrl.setPageView(null)">Home</a></li>
      <li><a ng-click="$ctrl.setPageView('settings')">Settings</a></li>
    </ul>
  </div>
</section>