<section>
  <div class="card">
    <div class="card-image">
      <figure class="image is-3by3">
        <img src="(( $ctrl.user.icon_link ))" alt="Placeholder image">
      </figure>
    </div>
    <div class="card-content">
      <div class="media">
        <!-- <div class="media-left">
          <figure class="image is-48x48">
            <img src="(( $ctrl.user.icon_link ))" alt="(( $ctrl.user.displayname ))">
          </figure>
        </div> -->
        <div class="media-content">
          <p class="title is-4">(( $ctrl.user.displayname ))</p>
          <p class="subtitle is-6">@(( $ctrl.user.username ))</p>
        </div>
      </div>
      <div>
        <hr />
        <p class="buttons">
          <button ng-if="$ctrl.user.id !== $ctrl.you.id" class="button is-small" ng-click="$ctrl.toggleFollow()">
            <span class="icon is-small">
              <i class="fa" ng-class="{ 'fa-star': $ctrl.follows, 'color-yellow': $ctrl.follows, 'fa-star-o': !$ctrl.follows }"></i>
            </span>
            <span>{{ $ctrl.follows ? 'Following' : 'Follow' }}</span>
          </button>
        </p>
      </div>
    </div>
  </div>

  <br/>

  <div class="box">
    <ul class="menu-list">
      <li><a ng-click="$ctrl.setPageView(null)">Home</a></li>
      <li><a ng-click="$ctrl.setPageView('following')">Following</a></li>
      <li><a ng-click="$ctrl.setPageView('followers')">Followers</a></li>
      <li><a ng-click="$ctrl.setPageView('reviews')">Reviews</a></li>
    </ul>
  </div>

  <div class="box" ng-if="$ctrl.you && $ctrl.user.id === $ctrl.you.id">
    <ul class="menu-list">
      <li><a ng-click="$ctrl.setPageView('settings')">Settings</a></li>
    </ul>
  </div>
</section>