<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'includes/deps.html' %}

    <title>Sign In</title>

    <!-- Services -->
    <script src="/code/services/user.service.js"></script>

    <!-- Controller -->
    <script src="/code/controllers/signin.controller.js"></script>
  </head>
  <body ng-app="tutorPlusApp" ng-controller="signinCtrl">

    <app-navbar you="you"></app-navbar>

    <main class="container space-top-50">
      <form name="signinForm" id="signin-form" ng-submit="$ctrl.signIn(signinForm)" novalidate>
        <div class="field">
          <label class="label">Username or Email</label>
          <div class="control has-icons-left has-icons-right">
            <input
              class="input"
              type="text"
              name="email"
              ng-model="email"
              ng-class="{
                'is-danger':  signinForm.email.$touched && signinForm.email.$invalid,
                'is-success':  signinForm.email.$touched && signinForm.email.$valid
              }"
              required
            />
            <span class="icon is-small is-left">
              <i class="fa fa-envelope"></i>
            </span>
          </div>
          <p 
            ng-if="signinForm.email.$touched && signinForm.email.$error.required"
            class="help is-danger"
          >
            Username/Email is required
          </p>
        </div>

        <div class="field">
          <label class="label">Password</label>
          <div class="control has-icons-left has-icons-right">
            <input
              class="input"
              type="password"
              name="password"
              ng-model="password"
              ng-class="{
                'is-danger':  signinForm.password.$touched && signinForm.password.$invalid,
                'is-success':  signinForm.password.$touched && signinForm.password.$valid
              }"
              required
            />
            <span class="icon is-small is-left">
              <i class="fa fa-lock"></i>
            </span>
          </div>
          <p 
            ng-if="signinForm.password.$touched && signinForm.password.$error.required"
            class="help is-danger"
          >
            Password is required
          </p>
        </div>

        <br />
  
        <div class="field is-grouped">
          <div class="control">
            <button
              type="submit"
              class="button is-link"
              ng-disabled="signinForm.$invalid || requestInProgress"
            >
              Submit
            </button>
          </div>
        </div>
      </form>
    </main>

    {% include 'includes/notifications-box.html' %}
    {% include 'includes/footer.html' %}
    
  </body>
</html>