<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'includes/deps.html' %}

    <title>User Page | {{ user.displayname }}</title>

    <!-- Services -->
    <script src="/code/services/user.service.js"></script>

    <!-- Components -->
    <script src="/code/components/userpage-card.component.js"></script>
    <script src="/code/components/userpage-settings.component.js"></script>

    <!-- Controller -->
    <script src="/code/controllers/userpage.controller.js"></script>
  </head>
  <body ng-app="tutorPlusApp" ng-controller="userpageCtrl">

    <app-navbar you="you"></app-navbar>

    <div class="user-profile-wallpaper fill" style="background-image: url('(( you.wallpaper_link ))');">
      <div class="dim-1"></div>
    </div>

    <main class="container space-top-50">
      <div class="columns">
        <div class="column is-one-thirds">
          <userpage-card ng-if="user"
            you="you"
            user="user"
            follows="follows"
            toggle-follow="$ctrl.onToggleFollow()"
            set-user-page-view="$ctrl.setUserPageView(view)"
          ></userpage-card>
        </div>
        <div class="column is-two-thirds" ng-switch="currentView">
          <div ng-switch-when="nothing"></div>

          <userpage-settings ng-switch-when="settings"
            you="you"
            on-updated="$ctrl.settingsUpdated(user)"
          ></userpage-settings>

          <div class="box" ng-switch-default>
            <h1 class="is-size-3">Home</h1>
            <br />
            <div class="content">
              <p><strong>Bio</strong><br/> (( $ctrl.user.bio || '...' ))</p>
              <p><strong>Tags</strong><br/> (( $ctrl.user.tags || '...' ))</p>
              <p><strong>Subjects</strong><br/> (( $ctrl.user.subjects || '...' ))</p>
            </div>
          </div>
        </div>
      </div>
    </main>

    {% include 'includes/notifications-box.html' %}
    {% include 'includes/footer.html' %}
    
  </body>
</html>