<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'includes/deps.html' %}

    <title>Welcome</title>

    <!-- Services -->
    <script src="/code/services/user.service.js"></script>

    <!-- Controller -->
    <script src="/code/controllers/welcome.controller.js"></script>
  </head>
  <body ng-app="tutorPlusApp" ng-controller="welcomeCtrl">

    <app-navbar you="you"></app-navbar>

    <main>
      <header id="welcome-header">

      </header>
    </main>

    {% include 'includes/notifications-box.html' %}
    {% include 'includes/footer.html' %}
    
  </body>
</html>